<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-lock-screen"
    version="1.0.0">
    <name>CordovaPluginLockScreen</name>
    <description>A cordova plugin providing an API to observe iPadOS lock/unlock events</description>
    <license>Apache 2.0 License</license>
    <keywords>lock screen,ios</keywords>


    <js-module src="www/Screen.js" name="Screen">
        <clobbers target="Screen" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=10.0.0" />
        <engine name="cordova-ios" version=">=4.3.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Screen">
                <param name="ios-package" value="Screen"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Screen.h" />
        <source-file src="src/ios/Screen.m" />
    </platform>

</plugin>
